@import url(http://fonts.googleapis.com/css?family=Macondo);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer+SC);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+DW+Pica+SC);

/*main page*/
a { text-decoration:none;
	    color: #999;}
a:hover {
		text-decoration: none;
		color: #DDD;
}
a:focus {
		text-decoration: none;
}
a:hover, a:active {
		text-decoration: none;
}

body{
	font-family: 'Macondo';
	color:#fff;}
.content{
	max-width: 600px;
	margin:auto;
	}
.content img {
	max-width: 100%;
    max-height: 800px;
}
.poster{
	max-width: 600px;
	width: 100%;
}
.logo{
	margin:auto auto 20px;
	width:1005px;
	height:586px;
	background: url("../images/logga.png");
	background-size: 100%;
	background-position:0px 0px;
	background-repeat:no-repeat;
	z-index:-3;}
.links{
	text-align:middle;}
.newstitle{
	font-family: 'IM Fell Great Primer', serif;
	font-size:200%;}
.entry-title{
	font-family: 'IM Fell Great Primer', serif;
	font-size:200%;
	color: white;}
.entry-title a{
	color: white;}
.newsdate{
	font-size:90%;
	font-style:italic;
	color:#555;}
.hidden{
	display:none;}

.comment-content h2{
	font-family: 'IM Fell DW PICA', serif;
	font-size: 150%;
	color: white;
	}
	
h1{
	font-family: 'IM Fell Great Primer', serif;
	font-size:200%;
	color: white;
}
	
h2{
	font-family: 'IM Fell DW PICA', serif;
	font-size: 150%;
	color: white;
}


.albumlinkdiv{
	height: 350px;
}




#inline {
	display: none;
	width: 600px;
	background-color:#0a0a0a;
	margin: auto;
	}

/* --- The Form --- */
#contact {
	}

#contact fieldset {
    border: 1px solid #222222;
    padding: 20px;
	border-radius: 3px;
}

#contact legend {
    border: 1px solid #222222;
    color: #777777;
    margin-bottom: 0 !important;
    padding: 7px 10px;
	font-weight: bold;
	border-radius: 3px;
}

#contact label {
    display: inline-block;
    float: left;
    font-size: 1em;
    height: 26px;
    line-height: 26px;
    width: 155px;
}

#contact input, #contact textarea, #contact select {
    background: none repeat scroll 0 0 #F5F5F5;
    border: 1px solid #CCCCCC;
    color: #666666;
    font: 1em "Dosis";
    margin: 5px 0;
    padding: 5px;
    width: 360px;
	border-radius: 0px;
}

#contact .button { border: 0px; background-color: #0a0a0a !important; margin: -3px 20px 10px 150px; width: 124px; height: 39px; }

#contact input:focus, #contact textarea:focus { color: #444; background: #fff; }

#contact .error { border: 1px solid #973d3d; background: #f0bebe; color: #a35959; }
#contact .error:focus { border: 1px solid #eee; color: #a35959; }

/* --- Footer Styles --- */
#footer {  }
    #footer p {
        font-family: 'Dosis';        
        text-align: center;
        font-size: .9em;
        color: #444;
        letter-spacing: 1px;        
    }
    #footer a, #footer a:visited {
        color: #617797;
        text-decoration: none;
        outline: none;
    }
        #footer a:hover{
            color: #90b0dd;
            text-decoration: none;
        }